/* navigation bar style */
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body
{
    
    background-color:#00101b;
    font-family: montserrat;
}
nav
{
    background:#00101b;
    height: 80px;
    width:100%;
    z-index: 10000;
}
label.logo
{
    color:rgb(60, 255, 0);
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 10px;
}
nav ul li a
{
    color:rgb(60, 255, 0);
    font-size: 17px;
    text-transform: capitalize;
    padding:10px;
    font-weight: 600;
    border-radius: 8px;
    transition: .8s ease;
}
nav ul li a:hover
{
    background-color:rgb(43, 255, 0);
    box-shadow: -6px 6px 3px rgb(44, 138, 44);
    color:rgb(255, 255, 255);
    padding:10px;
    font-weight: 600;
}
.checkbtn
{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    line-height: 80px;
    display:none;
}

/* navigation bar style end*/

/*home page content*/
.card{
    display: none;
}
.home{
    display: block;
}
.home{
    height:100vh;
}

.home .content{
    font-size: 1.5rem;
    width: 50%;
    float: left;
}
.home .intro{
    position: absolute;
    width: 48%;
    height: 200px;
    z-index: 15;
    top: 50%;
    margin: -60px 0 0 130px;
}
.home .content .intro .description {
    line-height: 1.5;
}
.home .content .intro .description b{
    color:rgb(54, 248, 80);
}
.home .content .intro h3,h1,.description{
    color :rgb(250, 250, 250);
}
.home .content .intro span{
    color:rgb(60, 255, 0);
}
.home .content .intro span:hover{
    animation: glow 1s ease-in-out infinite alternate;
}

.resume-btn {
    margin-top: 30px;
}
.resume-btn a{
    background-color: rgb(60, 255, 0);
    width: 180px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    color:#fff;
    font-weight: bolder;
    transition: all .5s;
}
.resume-btn a:hover{
    color:rgb(60, 255, 0);
    background-color: transparent;
    border: 2px solid rgb(60, 255, 0);
    box-shadow: -6px 6px 9px rgb(60, 255, 0);
}
.home .image{
    width:50%;
    float: right;
    height: 100vh;
}
.home .image img{
    width:calc(100% - 70%);
    height: calc(100% - 40%);
    position: absolute;
    top:50%;
    left:80%;
    transform: translate(-50%,-50%);
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(54, 54, 54), 0 0 20px rgb(41, 41, 41), 0 0 30px #038b09, 0 0 40px #018617, 0 0 50px #009e22, 0 0 60px #33ff00, 0 0 70px #02ff0f;
    }
    
    to {
      text-shadow: 0 0 20px rgb(114, 114, 114), 0 0 30px #fa4141, 0 0 40px #f72525, 0 0 50px #d11515, 0 0 60px #ce0f0f, 0 0 70px #e41313, 0 0 80px #ff0000;
    }
}

/*home page content end*/

/*Project page*/
.project{
    height: 100vh;
}
.project .bigscreen h1{
    color:rgb(60, 255, 0);
    text-align: center;
    font-size: 60px;
}

.line {
    position: relative;
    max-width: auto;
    margin: 0 auto;
}

.line::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(60, 255, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width:50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:#00101b;
    border: 4px solid rgb(60, 255, 0);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: 0;
}
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(60, 255, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(60, 255, 0);
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(60, 255, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(60, 255, 0) transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.project .left .content {
    color: #fff;
    padding: 20px 30px;
    border:2px solid rgb(5, 255, 5);
    background-color: #00101b;
    position: relative;
    border-radius: 6px;
    box-shadow: -10px 8px 4px rgb(2, 158, 2);
    transition: all .5s;
}
.project .right .content {
    color: #fff;
    padding: 20px 30px;
    border:2px solid rgb(5, 255, 5);
    background-color: #00101b;
    position: relative;
    border-radius: 6px;
    box-shadow: 10px 8px 4px rgb(2, 158, 2);
    transition: all .5s;
}
  
.project .left .content:hover{
    color:#fff;
    background-color: rgb(7, 185, 7);
    box-shadow: none;
}
.project .right .content:hover{
    color:#fff;
    background-color: rgb(7, 185, 7);
    box-shadow: none;
}  
/* project page end */

/* Mobile responsive*/

@media (max-width:952px)
{
    label.logo
    {
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a
    {
        font-size:16px;
    }
}
@media (max-width:858px)
{
    .card{
        display: block;
    }
    .checkbtn
    {
        display:block;
        position: relative;
        top:auto;
    }
    ul
    {
        position: fixed;
        width:100%;
        height:100%;
        background-color:#00101b;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }
    nav ul li
    {
        display: block;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    nav ul li a:hover
    {
        background:rgb(43, 255, 0);
    }
    .showMenuBar{
        left:0;
    }
    .add-eye{
        background-image: url('../assets/eye-solid.svg');
    }
    .image{
        display: none;
    }

    /* card view for mobile view only*/
    .home .bigscreen{
        display: none;
    }
    .card{
        position: relative;
        width: calc(100% - 20px);
        height: 550px;
        margin:30px auto;
        box-shadow: 0 0 10px rgba(255, 253, 253, 0.3);
      }
      .card-header{
        background-image: url('../assets/1.jpg');
        position: relative;
        height: 220px;
        background-size: cover;
        background-position: top;
      }
      .card-header:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #00101b, rgba(181,181,181, 0.1));
      }
      svg .polygon{
        fill: #00101b;
      }
      .card-header-slanted-edge{
        position: absolute;
        bottom: -3px;
        z-index: 1;
        width: 100%;
        right:0;
        left:0;
      }
      .card-body{
        color: rgb(60, 255, 0);;
        text-align:center;
        padding-left: 10px;
      }
      
      .name{
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 auto;
      }
      
      .job-title{
        font-size: 20px;
        font-weight: 300;
        margin-top: 5px;
        color:rgb(54, 248, 80);
      }
      
      .bio{
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
        margin: 10px auto;
        line-height: 20px;
      }
      .resume-btn {
        margin-top: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .card .resume-btn a{
        background-color: rgb(60, 255, 0);
        width: 180px;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 25px;
        color:#fff;
        font-weight: bolder;
        transition: all .5s;
    }
    .card .resume-btn a:hover{
        color:rgb(60, 255, 0);
        background-color: transparent;
        border: 2px solid rgb(60, 255, 0);
        box-shadow: -6px 6px 9px rgb(60, 255, 0);
    }

    .project .bigscreen h1{
        color:rgb(60, 255, 0);
        text-align: left;
    }

    .line::after {
        left: 31px;
    }
    .project .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .project .right .content{
        box-shadow: none;
    }
    .project .left .content{
        box-shadow: none;
    }
    .project .container::before {
        left: 60px;
        border: medium solid rgb(7, 185, 7);;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(7, 185, 7) transparent transparent;
    }
    .project .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
      
}
