/* navigation bar style */
*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
body
{
    background-color:#00101b;
    font-family: montserrat;
}
nav
{
    list-style: none;
    background:#00101b;
    height: 80px;
    width:100%;
    z-index: 10000;
}
span:hover{
    animation: glow 1s ease-in-out infinite alternate;
}
label.logo
{
    color:rgb(60, 255, 0);
    font-size: 35px;
    line-height: 80px;
    padding:0 80px;
    font-weight: bold;
}
nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 10px;
}
nav ul li a
{
    color:rgb(60, 255, 0);
    font-size: 17px;
    text-transform: capitalize;
    padding:10px;
    font-weight: 600;
    border-radius: 8px;
    transition: .8s ease;
}
nav ul li a:hover
{
    background-color:rgb(43, 255, 0);
    box-shadow: -6px 6px 3px rgb(44, 138, 44);
    color:rgb(255, 255, 255);
    padding:10px;
    font-weight: 600;
}
.checkbtn
{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    line-height: 80px;
    display:none;
}

/* navigation bar style end*/

/*time line style*/
.line {
    position: relative;
    max-width: auto;
    margin: 0 auto;
}

.line::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(60, 255, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width:50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:#00101b;
    border: 4px solid rgb(60, 255, 0);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: 0;
}
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(60, 255, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(60, 255, 0);
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(60, 255, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(60, 255, 0) transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.left .content {
    color: #fff;
    padding: 20px 30px;
    border:2px solid rgb(5, 255, 5);
    background-color: #00101b;
    position: relative;
    border-radius: 6px;
    transition: all .5s;
}
.right .content {
    color: #fff;
    padding: 20px 30px;
    border:2px solid rgb(5, 255, 5);
    background-color: #00101b;
    position: relative;
    border-radius: 6px;
    transition: all .5s;
}

.left .content:hover{
    color:#fff;
    box-shadow: -10px 8px 4px rgb(2, 158, 2);
}
.right .content:hover{
    color:#fff;
    box-shadow: 10px 8px 4px rgb(2, 158, 2);
}  

.content h2 a{
    color:rgb(7, 185, 7);
}
.content p b{
    color:rgb(10, 248, 10);
}
.content ul li b{
    line-height: 2;
    color:rgb(10, 248, 10);
}
.content ul ul{
    margin-left: 30px;
    list-style-type:disc;
}
.content h2 a:hover{
    color:rgb(10, 248, 10);
    cursor: pointer;
}
/*time line style end*/

/*home page content*/
.home .bigscreen h1{
    color:rgb(60, 255, 0);
    text-align: center;
    font-size: 40px;
}
.home .left .content a{
    color: #fff;
}
.home .right a span{
    color :rgb(60, 255, 0);
}
.home .left .content a:hover{
    cursor: auto;
}
.home .right .content a:hover{
    cursor: auto;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(54, 54, 54), 0 0 20px rgb(41, 41, 41), 0 0 30px #038b09, 0 0 40px #018617, 0 0 50px #009e22, 0 0 60px #33ff00, 0 0 70px #02ff0f;
    }
    
    to {
      text-shadow: 0 0 20px rgb(114, 114, 114), 0 0 30px #fa4141, 0 0 40px #f72525, 0 0 50px #d11515, 0 0 60px #ce0f0f, 0 0 70px #e41313, 0 0 80px #ff0000;
    }
}

/*home page end*/

/*Project page*/
.project{
    height: auto;
}
.project .bigscreen h1{
    color:rgb(60, 255, 0);
    text-align: center;
    font-size: 40px;
}

/* project page end */

/*Achievement page*/
.achievement{
    height: auto;
}
.achievement .bigscreen h1{
    color:rgb(60, 255, 0);
    text-align: center;
    font-size: 40px;
}
.achievement .right a span{
    font-size: 18px;
    color:#fff;
}

.achievement .left .content a{
    color:#fff;
}
.achievement .right .content a{
    color:rgb(60, 255, 0);
}
.achievement .right .content a:hover{
    color:#00a208;
}
/*Achievement page end*/
/* contact page */
.contact{
    height: auto;
}
.contact .bigscreen h1{
    color:rgb(60, 255, 0);
    text-align: center;
    font-size: 40px;
}
.contact .bigscreen .left a{
    color: #fff;
}
.contact .bigscreen .content input{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    color:rgb(60, 255, 0);
}
.contact .bigscreen .content button{
    width: 100%;
    color:#02ff0f;
    background-color: transparent;
    border:2px solid rgb(60, 255, 0);
    padding:20px;
    transition: .5s ease;
    font-size: 20px;
    font-weight: 900;
}
.contact .bigscreen .content button:hover{
    background-color: #02ff0f;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.contact .bigscreen .content:hover{
    box-shadow: none;
}

/* contact page end */

/* Mobile responsive*/

@media (max-width:952px)
{
    label.logo
    {
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a
    {
        font-size:16px;
    }
    .home .bigscreen h1{
        text-align: left;
    }
    .project .bigscreen h1{
        text-align: left;
    }
    .achievement .bigscreen h1{
        text-align: left;
    }
    .contact .bigscreen h1{
        text-align: left;
    }
}
@media (max-width:858px)
{
    .checkbtn
    {
        display:block;
        position: relative;
        top:auto;
    }
    ul
    {
        position: fixed;
        width:100%;
        height:100%;
        background-color:#00101b;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }
    nav ul li
    {
        display: block;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    nav ul li a:hover
    {
        background:rgb(43, 255, 0);
    }
    .showMenuBar{
        left:0;
    }
    .home .bigscreen h1{
        font-size: 30px;
        color:rgb(60, 255, 0);
        text-align: left;
    }
    .home .bigscreen .left a{
        font-size: 26px;
    }
    .home .bigscreen .right a {
        font-size: 20px;
    }
    .project .bigscreen h1{
        font-size: 30px;
        color:rgb(60, 255, 0);
        text-align: left;
    }
    
    .achievement .bigscreen h1{
        font-size: 30px;
        color:rgb(60, 255, 0);
        text-align: left;
    }
    .achievement .bigscreen .left a{
        font-size: 26px;
    }
    .contact .bigscreen h1{
        font-size: 30px;
        color:rgb(60, 255, 0);
        text-align: left;
    }
    .line::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .right .content{
        box-shadow: none;
    }
    .left .content{
        box-shadow: none;
    }
    .container::before {
        left: 60px;
        border: medium solid rgb(7, 185, 7);;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(7, 185, 7) transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
    .content ul{
        display: none;
    }
      
}
